@font-face {
    font-family: "Circular";
    font-weight: normal;
    font-style: normal;
    src: url("./assets/circular-book.woff") format("woff");
}

@font-face {
    font-family: "Circular";
    font-weight: 500;
    font-style: normal;
    src: url("./assets/circular-medium.woff") format("woff");
}

@font-face {
    font-family: "Circular";
    font-weight: bold;
    font-style: normal;
    src: url("./assets/circular-bold.woff") format("woff");
}

:root {
    --red: #FF5900;
    --green: #67C202;
    --dark-blue: #080e1a;
    --med-blue: #071826;
    --2nd-blue: #164059;
    --off-white: #F2F2F0;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
    display: none;
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}

a {
    text-decoration: none;
    color: white;
}

html, body {
    width: 100%;
    min-height: 100%;
    height: 100%;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    background: #080e1a;
    color: rgba(255, 255, 255, 0.9);
    font-family: Circular, Helvetica Neue, Helvetica, sans-serif;
    margin: 0;
}

.background {
    background: url("assets/2.jpg") no-repeat center center;
    background-size: 100%;
    z-index: -1;
    /*background: white;*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
}

.background:before {
    filter: blur(40px)
}

.nav-title {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.1px;
    font-weight: 600;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

section.dashboard {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1300px) {
    section.dashboard {
        flex-wrap: wrap;
        display: flex;
    }
}

.summary-panel {
    background: var(--med-blue);
    padding: 10px;
    border-radius: 2px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.summary-panel.row {
    flex-direction: row;
    flex-wrap: wrap;
}

.summary-panel.short {
    max-width: 30%;
    margin: 0 auto 16px auto;
}

.space-top {
    margin-top: 60px;
}

.dashboard-panel {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}

.dashboard.center {
    justify-content: center;
    align-items: center;
}

.dashboard-panel.short {
    width: 300px;
}

.dashboard-panel.small {
    max-width: 100%;
    width: 100%;
}

.dash-panel-inner {
    margin: 8px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.dash-panel-inner.narrow {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

@media (min-width: 800px) and (max-width: 1299px) {
    .dashboard-panel.small {
        flex-direction: row;
    }
}

@media (min-width: 1300px) {
    .dashboard-panel.small {
        max-width: 40%;
    }
}

.faint-white {
    color: rgba(255, 255, 255, 0.4);
}

.bright-white {
    color: rgba(255, 255, 255, 1);
}

.panel-header-logo img {
    width: 100%;
}

.panel-header {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: rgba(255, 255, 255, 0.5);
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    font-size: 25px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: -0.05px;
    padding: 7px;
}

.header-icon {
    margin-right: 10px;
}

.table {
    display: block;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    border-collapse: collapse;
    flex: 1 auto;
}

.table-head, .table-row {
    display: inline-flex;
    flex: 1 0 auto;
    flex-direction: row;
    width: 100%;
}

.table-body {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.table-row {
    transition: background 50ms;
}

.table-row:hover {
    background: rgba(255, 255, 255, 0.05) !important;
    transition: background 50ms;
}

.table-row.no-hover:hover {
    background: transparent !important;
}

.table-head-item, .table-row-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 100 0 0;
    min-height: 30px;
}

.table-row-item:last-child, .table-head-item:last-child {
    justify-content: flex-end;
    flex: 100 0 0;
}

.table-row-item:first-child, .table-head-item:first-child {
    justify-content: flex-start;
    flex: 100 0 0;
}

.table-row-item:first-child .table-item-content, .table-head-item:first-child .table-item-content {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    flex-direction: row;
}

.table-item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: row;
}

.table-row-item:not(:first-child):last-child .table-item-content, .table-head-item:not(:first-child):last-child .table-item-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    flex-direction: row;
}

.table-head-item {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
    height: 28px;
    line-height: 20px;
}

.table-row-item {
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 20px;
    height: 35px;
    padding: 5px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    margin: 48px auto 20px;
}

.summary-box {
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    padding: 8px 4px;
    flex-direction: column;
    align-items: center;
}

.box-divider {
    min-width: 2px;
    margin: 4px auto;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
}

@media (max-width: 500px) {
    .box-divider {
        display: none;
    }
}

.box-title {
    color: rgba(255, 255, 255, 0.5);
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    font-family: Circular, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.05px;
    text-align: center;
    margin-bottom: 4px;
    font-weight: 600 !important;
}

.box-inner {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.20px;
    font-weight: 800 !important;
}

.box-inner.light {
    font-size: 20px;
    font-weight: 400 !important;
    letter-spacing: -0.1px;
    align-items: center;
    display: flex;
    line-height: 32px;
}

span.space {
    width: 8px;
}

.faint {
    opacity: 0.4;
}

.holdings-graph {
    padding: 15px 0;
    display: flex;
}

.holding-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6px;
    border-radius: 2px;
    margin: 0 3px;
}

.holding-box-symbol {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: var(--med-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrap {
    padding: 0 4px 0 4px;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.app-main {
    text-align: center;
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.dashboard-wrap {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}

.dashboard-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

app-root {
    height: 100%;
}

app-dashboard, app-settings, app-trades {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;
}

input {
    align-self: stretch;
    display: flex;
    flex: 1;
    box-sizing: border-box;
    outline: 0;
    /*background: #101623;*/
    background: var(--off-white);
    border-radius: 4px;
    transition: 300ms;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: -0.02px;
    padding: 5px 7px;
    color: black;
    border: none;
    width: 100%;
}

.btn-submit {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: box-shadow 400ms ease, border-color 400ms ease;
    /* border-color: rgba(2, 140, 194, 0.22); */
    background: #1D98D1;
    border: none;
    color: white;
    padding: 6px 6px;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.05px;
    font-weight: bold;
    width: 100%;
}

.input-row+.input-row {
    margin-top: 10px;
}

.btn-submit:hover {
    box-shadow: 0 2px 7px 0 rgba(2, 140, 194, 0.25), 0 5px 24px 1px rgba(2, 140, 194, 0.25);
}

.btn-submit svg {
    margin-right: 5px;
}

.table {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}

.shadowed {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.2s ease-in;
}

.shadowed:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.2s ease-out;
}