<div class="body">
  <app-nav></app-nav>

  <div class="dashboard-wrap">
    <div class="dashboard-inner">
      <div class="main-wrap">
        <section class="dashboard center">
          <div class="dashboard-panel short space-top">
            <div class="dash-panel-inner shadowed">
              <div class="summary-panel">
                <div class="panel-header-logo">
                  <img src="../../assets/zglogo_blue.png" alt="logo">
                </div>
                <div class="panel-header">Register</div>

                <form class="form" [formGroup]="registerForm">
                  <div class="input-row">
                    <input placeholder="First" type="text" formControlName="first">
                  </div>
                  <div class="input-row">
                    <input placeholder="Last" type="text" formControlName="last">
                  </div>
                  <div class="input-row">
                    <input placeholder="Email" type="text" formControlName="name">
                  </div>
                  <div class="input-row">
                    <input type="password" placeholder="Password" formControlName="password">
                  </div>
                  <div class="input-row">
                    <button class="btn-submit" (click)="submitForm()">Register</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>